
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <app-navbar></app-navbar> -->

     
  <ng-template #nav_content>
    <ng-container *ngFor="let navLink of navLinks">
      <button mat-button [routerLink]="navLink.link" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active">{{navLink.label}}</button>
    </ng-container>
  
    <ng-template #login>
    
    </ng-template>
  </ng-template>

  <ng-container *ngTemplateOutlet="nav_content"></ng-container>
  <ng-template #nav_content>
      <ng-container *ngFor="let navLink of navLinks">
        <button mat-button [routerLink]="navLink.link" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">{{navLink.label}}</button>
      </ng-container>
      <ng-container ></ng-container>
     
  </ng-template>
 
<ng-template #nav_content></ng-template>


<router-outlet ></router-outlet>