
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--
  <mat-drawer #drawer>
    <div class="flex flex-col px-2 pt-2 gap-1">
      <ng-container *ngTemplateOutlet="nav_content"></ng-container>
    </div>
  </mat-drawer>

  <ng-container mat-drawer-content>
   <mat-toolbar color="primary">
     
      <span>Logo Sortir.com</span>
      <div class="ml-auto"></div>
    
    </mat-toolbar>






<ng-template #nav_content>
  <ng-container *ngFor="let navLink of navLinks">
    <button mat-button [routerLink]="navLink.link" [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active">{{navLink.label}}</button>
  </ng-container>
   <ng-container *ngIf="(authService.isLoggedIn$ | async); else login">
    <button mat-button>Se déconnecter</button>
  </ng-container>
  <ng-template #login>
    <button mat-button [routerLink]="'participant/login'" [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active">Login</button>
  </ng-template>

</ng-template>

<router-outlet></router-outlet>-->




<mat-drawer-container class="h-full" autosize>
  <mat-drawer #drawer>
    <div class="flex flex-col px-2 pt-2 gap-1">
      <ng-container *ngTemplateOutlet="nav_content"></ng-container>
    </div>
  </mat-drawer>

  <ng-container mat-drawer-content>
    <mat-toolbar color="primary">
  
      <mat-icon> directions_walk</mat-icon>
      <div class="ml-auto"></div>
      <ng-container *ngIf="isLogged">
        <ng-container *ngTemplateOutlet="nav_content"></ng-container>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </ng-container>
</mat-drawer-container>


<ng-template #nav_content>
  
  <ng-container *ngFor="let navLink of navLinks">
    <ng-container *ngIf="!isAdmin() && !navLink.adminRequired">
    <button mat-button [routerLink]="navLink.link" [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active">{{navLink.label}}</button>
    </ng-container>
  </ng-container>
  <ng-container>
   <button (click)="logout()" routerLinkActive="active" mat-button>Se déconnecter</button>
  </ng-container>
</ng-template>
