<h1 mat-dialog-title>Ajouter un campus</h1>
<div mat-dialog-content>
    <form [formGroup]="creerCampusForm" action="">
        <!--Inputs-->
        <mat-form-field appearance="outline">
            <mat-label>Nom du campus</mat-label>
            <input matInput formControlName="nom" placeholder="Nom du campus">
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerCampusForm.invalid">Le nom du campus est obligatoire</mat-error>
        </mat-form-field>
    </form>
</div>
<!--Boutons-->
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="accent" [disabled]="!creerCampusForm.dirty || !creerCampusForm.valid" (click)="ajouterCampus()">Ajouter</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>