<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="../../../assets/img/logo.png"></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Afficher la sortie : {{sortie.nom}}</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Nom :</label><input disabled type="text" class="form-control"  value="{{sortie.nom}}" ></div>
                    <div class="col-md-6"><label class="labels">Date et heure :</label><input disabled type="text" class="form-control" value="{{sortie.dateHeureDebut}}" ></div>
                    <div class="col-md-12"><label class="labels">Date limite d'inscription :</label><input disabled type="text" class="form-control"  value="{{sortie.dateLimiteInscription}}" ></div>
                    <div class="col-md-12"><label class="labels">Nombre de places :</label><input disabled type="text" class="form-control" value="{{sortie.nbInscriptionsMax}}"></div>
                    <div class="col-md-12"><label class="labels">Durée</label><input disabled type="text" class="form-control" value="{{sortie.duree}}"></div>
                    <div class="col-md-12"><label class="labels">Description</label><input disabled type="text" class="form-control" value="{{sortie.infosSortie}}"></div>
                 </div>
                 <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Campus :</label><input  disabled type="text" class="form-control" value="{{sortie.campus.nom}}"></div>
                    <div class="col-md-6"><label class="labels">Lieu :</label><input disabled type="text" class="form-control"  value="{{sortie.lieu.nom}}" ></div>
                    <!-- <div class="col-md-6"><label class="labels">Rue</label><input disabled type="text" class="form-control" value="{{sortie.lieu.rue}}" ></div>
                    <div class="col-md-12"><label class="labels">Code postal</label><input disabled type="text" class="form-control"  value="{{sortie.lieu.ville.codePostal}}" ></div>
                    <div class="col-md-12"><label class="labels">Latitude</label><input disabled type="text" class="form-control" value="{{sortie.lieu.latitude}}"></div>
                    <div class="col-md-12"><label class="labels">Longitude</label><input disabled type="text" class="form-control" value="{{sortie.lieu.longitude}}"></div> -->
                  </div>            
                </div>
        </div>
    </div>
    <app-liste-participants-sortie></app-liste-participants-sortie>
    
    
    <ng-template #notFound></ng-template>
    <button mat-stroked-button color="accent" class="mx-auto mt-4" [routerLink]="''">Retour</button>
</div>