<h1 mat-dialog-title>Ajouter une sortie</h1>
<div mat-dialog-content>
    <form [formGroup]="creerSortieForm">
        <!--Inputs-->
        <mat-form-field appearance="outline">
            <mat-label>Nom de la Sortie</mat-label>
            <input matInput formControlName="nom" placeholder="Nom de la Sortie">
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">Le nom de la sortie est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date heure debut d'inscription</mat-label>
            <input formControlName="heureDebut" matInput [ngxMatDatetimePicker]="pickerTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">L'heure de la sortie est obligatoire</mat-error>
            <mat-datepicker-toggle matSuffix [for]="$any(pickerTime)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerTime></ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Durée</mat-label>
            <input matInput formControlName="duree" placeholder="Nom de la Sortie">
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">Le durée de la sortie est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date limite d'inscription</mat-label>
            <input formControlName="limitDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">Le date limite de la sortie est obligatoire</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nombre d'inscription max</mat-label>
            <input matInput formControlName="nbInscritMax" placeholder="Nombre d'inscription max">
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">Le nombre maximum d'inscrits de la sortie est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Informations sur la Sortie</mat-label>
            <textarea matInput formControlName="infoSortie" placeholder="informations"></textarea>
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">La description de la sortie est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Campus associé</mat-label>
            <mat-select formControlName="campus">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let campus of campuses" [value]="campus.id">{{campus.nom}}</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
            <mat-error *ngIf="creerSortieForm.invalid">Le campus de la sortie est obligatoire</mat-error>
        </mat-form-field>
    </form>
</div>
<!--Boutons-->
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="accent" [disabled]="!creerSortieForm.dirty || !creerSortieForm.valid" (click)="ajoutSortie()">Ajouter</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>