<div>
  
<div class="info-sortie">
  <p>Date du jour : {{ currentDateFormated }}</p>
  <p>Participant : {{ nameUser != "."?nameUser:'noName' }}</p>
</div>
</div>
<div class="liste-page">
    <div fxLayout="row nowrap" fxLayoutAlign="center center" class="btn-ajouter">
      <button id="create-sortie" type="button" mat-raised-button class="btn-hover" (click)="ajouter()">
        <mat-icon class="size-14">library_add</mat-icon>
        {{ 'Ajouter une Sortie' }}
      </button>
    </div>
  <div style="margin-top: 2rem">
    <mat-label style="font-weight: bold; text-align: right;  display: inline-block;
    width: 150px;">Filtrer les sorties :</mat-label>
    <!-- <input style="border: solid 1px;width: 5%;margin-top: 1rem;margin-left: 2rem" matInput (keyup)="applyFilter($event)" #input> -->
    <input style="width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    text-align: right;
    background-color: white;   
    transition: width 0.4s ease-in-out;" matInput (keyup)="applyFilter($event)" #input> 

      <mat-form-field  style="margin-left: 20%"  appearance="outline">
        <mat-label>status associé</mat-label>
        <mat-select (selectionChange)="refreshListByStatus($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let etats of etat" [value]="etats.id">{{etats.libelle}}</mat-option>
        </mat-select>
        <mat-hint></mat-hint>
        <!-- <mat-error *ngIf="creerSortieForm.invalid">Le campus de la sortie est obligatoire</mat-error> -->
      </mat-form-field>
      
    <mat-form-field style="margin-left: 2rem"  appearance="outline">
      <mat-label>Campus associé</mat-label>
      <mat-select (selectionChange)="refreshListByCampus($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let campus of campuses" [value]="campus.id">{{campus.nom}}</mat-option>
      </mat-select>
      <mat-hint></mat-hint>
      <!-- <mat-error *ngIf="creerSortieForm.invalid">Le campus de la sortie est obligatoire</mat-error> -->
    </mat-form-field>
  </div>
    <table id="listSortie" mat-table [dataSource]="dataSource" matSort matSortActive="nomSortie,dateSortie" matSortDirection="asc">
      <ng-container matColumnDef='nomSortie'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Nom de la sortie</th> 
        <td mat-cell id="mcenomSortie" *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
  
      <ng-container matColumnDef='dateSortie'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Date de la sortie</th>
        <td mat-cell  *matCellDef="let element"> {{element.dateHeureDebut.split('T')[0]}} {{element.dateHeureDebut.split('T')[1].substr(0,8)}}</td>
      </ng-container>

      <ng-container matColumnDef='dateCloture'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Clôture</th> 
        <td mat-cell  *matCellDef="let element"> {{element.dateLimiteInscription.substr(0,10)}} </td>
      </ng-container>
  
      <ng-container matColumnDef='inscritPlace'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">inscrit/Nbplaces</th>
        <td mat-cell  *matCellDef="let element">{{element.participants.length?element.participants.length:0}} / {{element.nbInscriptionsMax}} </td>
      </ng-container>

      <ng-container matColumnDef='etat'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Etat</th> 
        <td mat-cell  *matCellDef="let element"> {{element.etat.libelle?element.etat.libelle:'pas d\'état'}} </td>
      </ng-container>
  
      <ng-container matColumnDef='inscrit'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Inscrit</th>
        <td mat-cell  *matCellDef="let element"><mat-icon class="sub-icon"> {{isParticipant(element.participants)?'done_outline':''}} </mat-icon></td>
      </ng-container>

      <ng-container matColumnDef='organisateur'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colonne-20">Organisateur</th> -->
        <td mat-cell  *matCellDef="let element">{{element.participant.prenom}} {{element.participant.nom}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="['/sortie']" (click)="authService.displaySortie(element.id)" type="button"
           matTooltip="{{ 'Afficher la sortie' }}">
            <mat-icon class="visibility-icon">visibility</mat-icon>
          </button>
          <button *ngIf='element.nbInscriptionsMax > element.participants.length && !isParticipant(element.participants) && isValidEtat(element.etat.libelle)' mat-icon-button id="btnInscrire" type="button"
            (click)="inscription(element)" matTooltip="{{ 'S\'inscrire' }}">
            <mat-icon class="subout-icon">exit_to_app</mat-icon>
          </button>
          <button *ngIf='element.nbInscriptionsMax > element.participants.length && isParticipant(element.participants)' mat-icon-button id="btnInscrire" type="button"
            (click)="desister(element)" matTooltip="{{ 'Se désister' }}">
            <mat-icon class="cancel-icon">cancel_presentation</mat-icon>
          </button>
          <button *ngIf='element.etat.libelle != "Annulée" && element.etat.libelle != "Passée" && element.etat.libelle != "Activité en cours"  && isOrganizer(element.participant)' mat-icon-button  type="button"
            (click)="modifier(element)" matTooltip="{{ 'Modifier une sortie' }}">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
          <button *ngIf='isOrganizer(element.participant) && isOpened(element.etat.libelle)' mat-icon-button  type="button"
            (click)="cloturerSortie(element)" matTooltip="{{ 'Clôturer une sortie' }}">
            <mat-icon class="lock-icon">lock</mat-icon>
          </button>
          <button *ngIf='isOrganizer(element.participant) && isCreated(element.etat.libelle)' mat-icon-button  type="button"
            (click)="ouvrirSortie(element)" matTooltip="{{ 'Ouvrir la sortie' }}">
            <mat-icon class="lock-open-icon">lock_open</mat-icon>
          </button>
          <button *ngIf='isOrganizer(element.participant) && isCanceled(element.etat.libelle)' mat-icon-button type="button"
            (click)="annuler(element)" matTooltip="{{ 'Annuler une sortie' }}">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  